.App {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App p {
  font-size: 18px;
  margin: 10px;
}

.App input {
  width: 80%;
  border: 1px solid rgb(42, 42, 42);
  border-radius: 5px;
  padding: 10px 14px;
  margin: 0 4px;
}